*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
}


/* inizio sezione header*/
header{
    width: 100%;
    justify-content: flex-end;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.button{
    height: 30px;
    background-color: #414141;
    color: white;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.button.speaker i, .user-information i{
    margin-right: 5px;
}


/* inizio sezione main*/
.main-container{
    flex-wrap: wrap;
    background-color: black;
    margin: auto;
    margin-top: 80px;
    justify-content: center;
}

.user{
    position: relative;
    margin-left: 5px;
}

.user-information{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* inizio footer*/
footer{
    background-color: #1f1f1f;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer i{
    font-size: 35px;
    margin-bottom: 10px;
}

footer .audio-settings{
    margin-left: 20px;
}

footer .mic, footer .video{
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 20px 0px 20px;
}

footer .fa-chevron-up{
    font-size: 15px;
    justify-content: center;
    position: relative;
    left: 40px;
    bottom: 40px;
}

footer .main-settings{
    justify-content: center;
    align-items: center;
}

footer .main-settings div{
    margin: 0 10px;
}

/* colorazione diversa per presentazione schermo*/
i.fa-share-square{
    color: greenyellow;
}

/* centralizzazione delle icone tramite classe apposita*/
i.center{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


footer .end-meeting{
    background-color: #414141;
    color: red;
    height: 100%;
    align-items: center;
    padding: 0 20px;
}

